# If you are reading this ⚠️ DO NOT PUT REAL KEYS HERE ⚠️ use vi .env instead

API_ID=
API_HASH=
TOKEN=
STRING1=
STRING2=
STRING3=
STRING4=
STRING5=
STRING6=
STRING7=
STRING8=
STRING9=
STRING10=
MONGO_URI=
API_URL=https://api.arcmusic.fun
API_KEY=
API_URL2=https://api.onegrab.fun
API_KEY2=
MEDIA_CHANNEL_ID=
SONG_DURATION_LIMIT=3600
OWNER_ID=
LOGGER_ID=
DEFAULT_SERVICE=youtube
DOWNLOADS_DIR=
DB_NAME=MusicBot
COOKIES_URL=
SUPPORT_GROUP=https://t.me/arcchatz
SUPPORT_CHANNEL=https://t.me/ArcUpdates
DEVS=
ENABLE_VPLAY=false
